### import library

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

###  Read file

In [2]:
df_feat = pd.read_excel("C:\\Users\\505DY\\Desktop\\Programming\\Machine Learning\\Udemy\\self-trying\\Peritoneal Dialysis\\date and CSV\\is_raw_idd_timeSeries_2.xlsx")
df_iwes_upd = pd.read_excel("C:\\Users\\505DY\\Desktop\\Programming\\Machine Learning\\Udemy\\self-trying\\Peritoneal Dialysis\\date and CSV\\updated data\\iwes_raw_idd_updated.xlsx")
df_iwp_upd = pd.read_excel("C:\\Users\\505DY\\Desktop\\Programming\\Machine Learning\\Udemy\\self-trying\\Peritoneal Dialysis\\date and CSV\\updated data\\iwp_raw_idd_updated.xlsx")
new_date=pd.read_excel("C:\\Users\\505DY\\Desktop\\Programming\\Machine Learning\\Udemy\\self-trying\\Peritoneal Dialysis\\date and CSV\\NeedRecheck_15-09-2021 (1).xlsx")

###  show-data  function

In [3]:
from IPython.display import display

def show_more(df, lines):
  temp = pd.options.display.max_rows
  pd.options.display.max_rows = lines
  display(df)
  pd.options.display.max_rows = temp

# Recheck iwes

## Checking data type

In [4]:
for i in df_iwes_upd.exitsitedate.to_list():
    print(type(i))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

###  sort iwes with "exitsitedate"

In [5]:
iwes_date=df_iwes_upd.sort_values(by="exitsitedate")

###  show all idd

In [6]:
show_more(iwes_date[["idd"]],len(iwes_date))

         idd
87   8015007
88   8015007
90   8015031
92   8015040
113  8020216
54   8009466
26   8004058
5    8000026
91   8015031
32   8004102
14   8001291
7    8000031
6    8000031
3    8000014
86   8014198
2    8000013
1    8000013
45   8009207
81   8014124
89   8015019
15   8001291
17   8003073
126  8021038
75   8014058
8    8000031
69   8013078
95   8015057
41   8009064
77   8014114
27   8004058
47   8009208
57   8010020
78   8014114
13   8001188
65   8010310
118  8021029
71   8013093
28   8004058
127  8021038
119  8021030
84   8014179
16   8001355
50   8009242
31   8004084
30   8004059
49   8009232
59   8010136
36   8005114
53   8009420
4    8000014
51   8009300
43   8009183
48   8009208
46   8009207
55   8009476
61   8010210
0    8000009
25   8004052
122  8021031
22   8004024
21   8003179
20   8003179
42   8009080
68   8013055
70   8013087
9    8000033
29   8004058
37   8005139
94   8015047
93   8015047
19   8003080
18   8003080
63   8010264
112  8020211
110  8020034
123  8021031
125  8021037
10   8000038
56   8009509
60   8010183
85   8014179
64   8010293
96   8015057
24   8004043
23   8004043
67   8013028
40   8008004
74   8014041
62   8010210
11   8000042
52   8009361
44   8009185
82   8014177
83   8014177
12   8001135
79   8014114
100  8018033
101  8018033
98   8018021
72   8013107
120  8021030
35   8004136
73   8013107
115  8021006
34   8004129
106  8018044
107  8018047
114  8021005
128  8021042
104  8018038
102  8018033
121  8021030
111  8020038
80   8014114
116  8021006
117  8021017
105  8018038
108  8018047
124  8021031
103  8018033
38   8005337
33   8004127
109  8018047
39   8007222
58   8010080
66   8012011
76   8014088
97   8018001
99   8018025

###  amount of iwes

In [7]:
len(iwes_date)

129

### clear duplicate "idd"

In [8]:
iwes_exitsitedate_dropped=iwes_date.drop_duplicates(subset=['idd'], keep='first')

### show idd after cleaning

In [9]:
show_more(iwes_exitsitedate_dropped[["idd"]],len(iwes_exitsitedate_dropped))

         idd
87   8015007
90   8015031
92   8015040
113  8020216
54   8009466
26   8004058
5    8000026
32   8004102
14   8001291
7    8000031
3    8000014
86   8014198
2    8000013
45   8009207
81   8014124
89   8015019
17   8003073
126  8021038
75   8014058
69   8013078
95   8015057
41   8009064
77   8014114
47   8009208
57   8010020
13   8001188
65   8010310
118  8021029
71   8013093
119  8021030
84   8014179
16   8001355
50   8009242
31   8004084
30   8004059
49   8009232
59   8010136
36   8005114
53   8009420
51   8009300
43   8009183
55   8009476
61   8010210
0    8000009
25   8004052
122  8021031
22   8004024
21   8003179
42   8009080
68   8013055
70   8013087
9    8000033
37   8005139
94   8015047
19   8003080
63   8010264
112  8020211
110  8020034
125  8021037
10   8000038
56   8009509
60   8010183
64   8010293
24   8004043
67   8013028
40   8008004
74   8014041
11   8000042
52   8009361
44   8009185
82   8014177
12   8001135
100  8018033
98   8018021
72   8013107
35   8004136
115  8021006
34   8004129
106  8018044
107  8018047
114  8021005
128  8021042
104  8018038
111  8020038
117  8021017
38   8005337
33   8004127
39   8007222
58   8010080
66   8012011
76   8014088
97   8018001
99   8018025

### amount of iwes after cleaning duplicates

In [10]:
len(iwes_exitsitedate_dropped)

93

###  figure "exitsitedate" and "qFirstCultureDt" to compare

In [11]:
show_more(iwes_exitsitedate_dropped[["exitsitedate","qFirstCultureDt"]],len(iwes_exitsitedate_dropped))

    exitsitedate qFirstCultureDt
87    2014-06-11             NaT
90    2014-11-27             NaT
92    2015-06-23             NaT
113   2015-07-21      2015-07-21
54    2016-01-16             NaT
26    2016-02-26      2016-02-26
5     2016-03-24      2016-03-24
32    2016-04-07      2016-04-07
14    2016-04-24      2016-04-26
7     2016-05-04             NaT
3     2016-05-19      2016-05-19
86    2016-05-27      2016-05-27
2     2016-05-27      2016-05-27
45    2016-06-01             NaT
81    2016-06-15      2016-06-15
89    2016-06-16             NaT
17    2016-06-23      2016-02-10
126   2016-06-27             NaT
75    2016-07-06      2015-07-06
69    2016-07-07      2016-07-11
95    2016-07-07             NaT
41    2016-07-07             NaT
77    2016-07-14      2016-07-14
47    2016-07-25      2016-07-25
57    2016-07-25      2016-05-19
13    2016-07-30             NaT
65    2016-08-04      2016-08-04
118   2016-08-09             NaT
71    2016-08-18      2016-08-18
119   2016-08-23             NaT
84    2016-08-24      2016-08-25
16    2016-08-26      2016-08-16
50    2016-08-29             NaT
31    2016-08-31      2016-08-31
30    2016-09-01      2016-05-24
49    2016-09-12             NaT
59    2016-09-14      2016-09-14
36    2016-09-15      2016-09-15
53    2016-09-19             NaT
51    2016-09-26             NaT
43    2016-09-26             NaT
55    2016-10-03             NaT
61    2016-10-05      2016-10-05
0     2016-10-06      2015-12-30
25    2016-10-13      2016-10-13
122   2016-10-18             NaT
22    2016-10-25      2016-10-25
21    2016-10-26      2016-10-26
42    2016-10-27             NaT
68    2016-11-03             NaT
70    2016-11-03      2016-11-03
9     2016-11-03      2016-11-03
37    2016-11-16      2016-11-16
94    2016-11-18      2016-11-18
19    2016-11-21      2016-11-21
63    2016-11-23      2016-11-23
112   2016-12-02             NaT
110   2016-12-08             NaT
125   2016-12-13             NaT
10    2016-12-15      2016-12-15
56    2016-12-19      2016-12-19
60    2016-12-21      2016-01-27
64    2016-12-29      2016-12-29
24    2017-01-11      2017-01-11
67    2017-01-12      2017-01-12
40    2017-01-18             NaT
74    2017-01-18      2017-01-18
11    2017-01-20      2017-01-20
52    2017-01-23             NaT
44    2017-01-23             NaT
82    2017-01-25      2017-01-25
12    2017-01-31      2017-02-02
100   2017-02-08      2017-02-08
98    2017-02-08      2017-02-08
72    2017-02-14      2017-02-14
35    2017-02-21      2017-02-21
115   2017-02-27             NaT
34    2017-03-09      2017-03-09
106   2017-03-15      2017-03-15
107   2017-03-15      2017-03-15
114   2017-03-21             NaT
128   2017-03-21             NaT
104   2017-03-22      2017-03-22
111   2017-04-12             NaT
117   2017-05-02             NaT
38    2017-05-22      2017-05-22
33    2017-05-31      2017-05-31
39           NaT             NaT
58           NaT             NaT
66           NaT             NaT
76           NaT             NaT
97           NaT             NaT
99           NaT             NaT

###  Find index of "exitsitedate" and "qFirstCultureDt"

In [12]:
iwes_exitsitedate_dropped.columns.to_list().index("exitsitedate")

8

In [13]:
iwes_exitsitedate_dropped.columns.to_list().index("qFirstCultureDt")

16

###  Clean "exitsitedate" and "qFirstCultureDt" if either of them is NaN set their value as same as another if the others have value

In [14]:
for i in range(len(iwes_exitsitedate_dropped)):
    if pd.isna(iwes_exitsitedate_dropped.iloc[i].exitsitedate ) and pd.isna(iwes_exitsitedate_dropped.iloc[i].qFirstCultureDt):
        pass
    
    elif pd.isna(iwes_exitsitedate_dropped.iloc[i].exitsitedate ) or pd.isna(iwes_exitsitedate_dropped.iloc[i].qFirstCultureDt):
                    
            if pd.isna(iwes_exitsitedate_dropped.iloc[i].exitsitedate ) and pd.notna(iwes_exitsitedate_dropped.iloc[i].qFirstCultureDt):
                    iwes_exitsitedate_dropped.iat[i,8]=iwes_exitsitedate_dropped.iloc[i].qFirstCultureDt
                    
            elif pd.isna(iwes_exitsitedate_dropped.iloc[i].qFirstCultureDt) and pd.notna(iwes_exitsitedate_dropped.iloc[i].exitsitedate):
                    iwes_exitsitedate_dropped.iat[i,16]=iwes_exitsitedate_dropped.iloc[i].exitsitedate

###  Show  data after cleaning exitsitedate and qFirstCultureDt

In [15]:
show_more(iwes_exitsitedate_dropped[["exitsitedate","qFirstCultureDt"]],len(iwes_exitsitedate_dropped))

    exitsitedate qFirstCultureDt
87    2014-06-11      2014-06-11
90    2014-11-27      2014-11-27
92    2015-06-23      2015-06-23
113   2015-07-21      2015-07-21
54    2016-01-16      2016-01-16
26    2016-02-26      2016-02-26
5     2016-03-24      2016-03-24
32    2016-04-07      2016-04-07
14    2016-04-24      2016-04-26
7     2016-05-04      2016-05-04
3     2016-05-19      2016-05-19
86    2016-05-27      2016-05-27
2     2016-05-27      2016-05-27
45    2016-06-01      2016-06-01
81    2016-06-15      2016-06-15
89    2016-06-16      2016-06-16
17    2016-06-23      2016-02-10
126   2016-06-27      2016-06-27
75    2016-07-06      2015-07-06
69    2016-07-07      2016-07-11
95    2016-07-07      2016-07-07
41    2016-07-07      2016-07-07
77    2016-07-14      2016-07-14
47    2016-07-25      2016-07-25
57    2016-07-25      2016-05-19
13    2016-07-30      2016-07-30
65    2016-08-04      2016-08-04
118   2016-08-09      2016-08-09
71    2016-08-18      2016-08-18
119   2016-08-23      2016-08-23
84    2016-08-24      2016-08-25
16    2016-08-26      2016-08-16
50    2016-08-29      2016-08-29
31    2016-08-31      2016-08-31
30    2016-09-01      2016-05-24
49    2016-09-12      2016-09-12
59    2016-09-14      2016-09-14
36    2016-09-15      2016-09-15
53    2016-09-19      2016-09-19
51    2016-09-26      2016-09-26
43    2016-09-26      2016-09-26
55    2016-10-03      2016-10-03
61    2016-10-05      2016-10-05
0     2016-10-06      2015-12-30
25    2016-10-13      2016-10-13
122   2016-10-18      2016-10-18
22    2016-10-25      2016-10-25
21    2016-10-26      2016-10-26
42    2016-10-27      2016-10-27
68    2016-11-03      2016-11-03
70    2016-11-03      2016-11-03
9     2016-11-03      2016-11-03
37    2016-11-16      2016-11-16
94    2016-11-18      2016-11-18
19    2016-11-21      2016-11-21
63    2016-11-23      2016-11-23
112   2016-12-02      2016-12-02
110   2016-12-08      2016-12-08
125   2016-12-13      2016-12-13
10    2016-12-15      2016-12-15
56    2016-12-19      2016-12-19
60    2016-12-21      2016-01-27
64    2016-12-29      2016-12-29
24    2017-01-11      2017-01-11
67    2017-01-12      2017-01-12
40    2017-01-18      2017-01-18
74    2017-01-18      2017-01-18
11    2017-01-20      2017-01-20
52    2017-01-23      2017-01-23
44    2017-01-23      2017-01-23
82    2017-01-25      2017-01-25
12    2017-01-31      2017-02-02
100   2017-02-08      2017-02-08
98    2017-02-08      2017-02-08
72    2017-02-14      2017-02-14
35    2017-02-21      2017-02-21
115   2017-02-27      2017-02-27
34    2017-03-09      2017-03-09
106   2017-03-15      2017-03-15
107   2017-03-15      2017-03-15
114   2017-03-21      2017-03-21
128   2017-03-21      2017-03-21
104   2017-03-22      2017-03-22
111   2017-04-12      2017-04-12
117   2017-05-02      2017-05-02
38    2017-05-22      2017-05-22
33    2017-05-31      2017-05-31
39           NaT             NaT
58           NaT             NaT
66           NaT             NaT
76           NaT             NaT
97           NaT             NaT
99           NaT             NaT

### sort iwes_exitsitedate_dropped with PatientID

In [16]:
iwes_exitsitedate_dropped=iwes_exitsitedate_dropped.sort_values(by="FacilityID")

In [17]:
iwes_exitsitedate_dropped

,InfectionID,FacilityID,StudyID,PatientID,frn,IntervalStartDate,ReferenceDate,EDCLoginDate,exitsitedate,qInfectionLoc,...,qInfectionTherapy,qPDCathRemove,qTempHD,qpri,country,LDOExtract,idd,exitsite,exitsitenumber,exitsitetotal
3,75048,118000,14,12968,1,2016-05-03,2016-09-02,2016-10-31,2016-05-19,1.0,...,2.0,0.0,0.0,1,Thailand,NaN,8000014,Yes,1,2
10,106842,118000,38,16870,3,2017-01-03,2017-05-02,2017-08-10,2016-12-15,1.0,...,2.0,0.0,0.0,0,Thailand,NaN,8000038,Yes,1,1
11,95941,118000,42,19752,3,2017-01-03,2017-05-02,2017-05-25,2017-01-20,1.0,...,1.0,0.0,0.0,1,Thailand,NaN,8000042,Yes,1,1
0,47999,118000,9,12963,0,2016-01-03,2016-05-02,2016-07-03,2016-10-06,1.0,...,1.0,0.0,0.0,0,Thailand,NaN,8000009,Yes,1,1
9,84843,118000,33,12987,2,2016-09-03,2017-01-02,2017-02-07,2016-11-03,1.0,...,2.0,0.0,0.0,2,Thailand,NaN,8000033,Yes,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,103666,118021,6,18542,2,2017-01-25,2017-05-24,2017-06-30,2017-02-27,1.0,...,1.0,0.0,0.0,2,Thailand,NaN,8021006,Yes,1,2
119,80321,118021,30,18724,0,2016-05-25,2016-09-24,2016-12-20,2016-08-23,1.0,...,1.0,0.0,0.0,0,Thailand,NaN,8021030,Yes,1,3
122,94605,118021,31,18725,1,2016-09-25,2017-01-24,2017-05-10,2016-10-18,1.0,...,1.0,0.0,0.0,1,Thailand,NaN,8021031,Yes,1,3
128,106204,118021,42,18742,2,2017-01-25,2017-05-24,2017-07-27,2017-03-21,1.0,...,1.0,0.0,0.0,2,Thailand,NaN,8021042,Yes,1,1
114,96050,118021,5,18541,2,2017-01-25,2017-05-24,2017-06-30,2017-03-21,1.0,...,1.0,0.0,0.0,2,Thailand,NaN,8021005,Yes,1,1

### amount of people after clear NaN date

In [18]:
len(iwes_exitsitedate_dropped)

93

In [19]:
new_date

,"ไม่อยู่ใน ""is_raw_idd"" แต่อยู่ใน ""iwp_raw_idd""",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,FacilityID,StudyID,NaN,ชื่อ,วันที่ติดเชื้อ ครั้งที่1,ครั้งที่ 2,ครั้งที่ 3,ครั้งที่ 4,ครั้งที่ 5,ครั้งที่ 6,...,DateTempHD,TKremove(Y/N),DateTKremove,PermanentHD(Y/N),DatePermHD,date stop HD,TKreinsert(Y/N),DateTKreinsert,Dead(Y/N),DateDead
1,118020,260,NaN,คำภา ผ่องแผ้ว,2017-06-01 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,118020,263,NaN,ประยูร บุญรอด,2017-07-24 00:00:00,NaN,NaN,NaN,NaN,NaN,...,2017-07-31 00:00:00,Y,2017-07-31 00:00:00,Y,2017-10-13 00:00:00,NaN,NaN,NaN,Y,2018-11-27 00:00:00
3,118020,270,NaN,บุญหลาย สิงห์หา,2017-05-07 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ติดเชื้อก่อน qRecentLabDt ครั้งแรก,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,FacilityID,StudyID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,118000,9,NaN,พรพิมล เมียงอารมณ์,2018-04-04 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,Y,2018-04-10 00:00:00,Y,2018-04-11 00:00:00,NaN,NaN,NaN,N,NaN
8,118000,34,NaN,มาลินี จันโททัย,2016-05-17 00:00:00,2016-06-13 00:00:00,NaN,NaN,NaN,NaN,...,NaN,Y,21/6/2559,NaN,NaN,NaN,NaN,NaN,N,NaN
9,118000,38,ไม่พบข้อมูล,ยนต์ เพ็ญญะ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,118001,188,NaN,นุชธิดา เรืองโสม,2016-07-30 00:00:00,2019-03-09 00:00:00,2019-05-31 00:00:00,2019-07-28 00:00:00,2019-10-02 00:00:00,2020-03-19 00:00:00,...,NaN,N,NaN,N,NaN,NaN,NaN,NaN,N,NaN
11,118003,73,NaN,จันทร์เที่ยง ดวงแสง,2016-06-23 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,Y,2016-07-04 00:00:00,Y,2016-07-26 00:00:00,NaN,NaN,NaN,N,NaN
12,118003,165,NaN,สิทธิ์ สมศรี,2017-02-03 00:00:00,2017-04-30 00:00:00,2020-02-25 00:00:00,NaN,NaN,NaN,...,NaN,N,NaN,N,NaN,NaN,NaN,NaN,N,NaN
13,118004,58,NaN,บุญเอี่ยม วีรคติธรรม,2020-04-03 00:00:00,NaN,NaN,NaN,NaN,NaN,...,2016-12-09 00:00:00,N,NaN,N,NaN,NaN,NaN,NaN,N,NaN
14,118004,146,NaN,เฉลิม ชะสมรัมย์,2017-03-18 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,Y,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
15,118005,314,NaN,พรพรรณ สงวนสร้อย,2017-02-20 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Y,2017-04-12 00:00:00
16,118007,172,NaN,มาลี เทพสถิตย์,2016-06-06 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Y,2019-09-27 00:00:00
17,118009,199,NaN,ประพจน์ สาริมา,2016-05-24 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Y,2017-01-23 00:00:00
18,118009,466,ไม่พบข้อมูล,หนูคล้ายแห้วใต้,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,118010,20,NaN,สมัย จันทร์ภิรมย์,2020-07-25 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,N,NaN,NaN,N,NaN,N,NaN
20,118010,183,NaN,บุญมา ขวัญสำราญ,2016-12-21 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,Y,2019-12-18 00:00:00,N,NaN,NaN,NaN,NaN,Y,2016-12-24 00:00:00
21,118013,123,NaN,นาตี ลอก่อย,2016-07-31 00:00:00,2020-08-11 00:00:00,NaN,NaN,NaN,NaN,...,NaN,N,NaN,Y,2020-12-22 00:00:00,NaN,N,NaN,N,NaN
22,118014,114,NaN,นิรัตน์ อิ่มสมบัติ,2017-04-24 00:00:00,NaN,NaN,NaN,NaN,NaN,...,2017-05-03 00:00:00,Y,2017-05-03 00:00:00,Y,2017-07-03 00:00:00,NaN,NaN,NaN,N,NaN
23,118014,198,ไม่พบข้อมูล,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,118015,2,NaN,สมพร เพชรแก้ว,2015-01-19 00:00:00,2016-11-30 00:00:00,2017-02-01 00:00:00,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
25,118015,4,NaN,นงนุช รงค์ดำ,2014-12-24 00:00:00,2015-06-03 00:00:00,2020-09-21 00:00:00,NaN,NaN,NaN,...,NaN,N,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
26,118015,7,NaN,ระบาย ชุมเชื้อ,2015-02-02 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,Y,NaN,N,NaN,NaN,NaN,NaN,N,NaN
27,118015,19,NaN,วิภา อุ่นใจแรม,2019-12-13 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
28,118015,22,NaN,อรอนงค์ เปรมปรี,2016-07-11 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,2017-08-07 00:00:00,NaN,NaN,NaN,NaN,NaN
29,118015,26,NaN,มาโนชน์ เดชพิชัย,2015-01-14 00:00:00,2017-12-06 00:00:00,2018-08-15 00:00:00,NaN,NaN,NaN,...,NaN,N,NaN,N,NaN,NaN,NaN,NaN,N,NaN
30,118015,30,NaN,สมถวิล จุ้ยเฒ่า,2015-04-03 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
31,118015,31,ไม่พบข้อมูล,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,118015,34,NaN,สุเชต สิงห์อินทร์,2016-05-18 00:00:00,2017-03-25 00:00:00,NaN,NaN,NaN,NaN,...,2017-04-03 00:00:00,Y,2017-04-11 00:00:00,Y,2017-08-23 00:00:00,NaN,N,NaN,N,NaN
33,118015,40,ไม่พบข้อมูล,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,118015,41,NaN,สมใจ ช่วยทอง,2015-11-07 00:00:00,2015-12-28 00:00:00,2020-04-13 00:00:00,2020-07-30 00:00:00,NaN,NaN,...,NaN,N,NaN,Y,2020-07-30 00:00:00,NaN,N,NaN,N,NaN
35,118015,46,NaN,จำเนียร สอาดเอี่ยม,2016-05-04 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
36,118020,147,NaN,ทองพูน นาซำ,2015-09-17 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
37,118020,186,NaN,ชารี โอบอ้อม,2016-03-25 00:00:00,2020-10-21 00:00:00,NaN,NaN,NaN,NaN,...,2020-10-26 00:00:00,N,NaN,Y,2020-12-09 00:00:00,NaN,NaN,NaN,N,NaN
38,118020,199,NaN,วิชาญ สาระสิงห์,2015-07-21 00:00:00,2017-07-01 00:00:00,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Y,2017-07-02 00:00:00
39,118020,203,NaN,สุบิน กาเผือก,2015-01-17 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
40,118020,211,NaN,สุริยัน มุ่งหมาย,2014-03-12 00:00:00,2016-10-14 00:00:00,2016-12-01 00:00:00,NaN,NaN,NaN,...,NaN,N,NaN,Y,2017-01-25 00:00:00,NaN,NaN,NaN,N,NaN
41,118020,216,NaN,หลัว วงศ์จันทร์,Exite site 07/21/2015,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,2018-09-07 00:00:00
42,118021,6,NaN,ณัฐกานต์ ผดุงคุณาธรรม,2016-04-29 00:00:00,2019-10-06 00:00:00,NaN,NaN,NaN,NaN,...,2019-10-29 00:00:00,NaN,NaN,Y,2019-12-11 00:00:00,NaN,NaN,NaN,N,NaN
43,118021,31,NaN,กัลยาณี หวันเส็น,2016-12-23 00:00:00,2017-02-10 00:00:00,2017-10-28 00:00:00,2018-02-04 00:00:00,2019-01-20 00:00:00,NaN,...,NaN,N,NaN,N,NaN,NaN,NaN,NaN,Y,2019-03-20 00:00:00
44,118021,37,NaN,ชะอวด มีมาก,2016-06-02 00:00:00,2017-08-23 00:00:00,2018-02-02 00:00:00,2020-04-27 00:00:00,NaN,NaN,...,NaN,N,NaN,N,NaN,NaN,NaN,NaN,N,NaN
45,118021,41,NaN,อดุนย์ ดีนแหล๊ะ,2016-05-17 00:00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,Y,2017-05-07 00:00:00

In [20]:
date_changes = []
for i in range(len(new_date.iloc[7:])):
    if type(new_date.iloc[i+7,4]) == type(new_date.iloc[7,4]):
        date_changes.append((new_date.iloc[i+7,0],new_date.iloc[i+7,1],pd.Timestamp(new_date.iloc[i+7,4])))
        
    else:
        date_changes.append((new_date.iloc[i+7,0],new_date.iloc[i+7,1],pd.to_datetime(pd.Timestamp(pd.NaT))))

In [21]:
date_changes

[(118000, 9, Timestamp('2018-04-04 00:00:00')),
 (118000, 34, Timestamp('2016-05-17 00:00:00')),
 (118000, 38, NaT),
 (118001, 188, Timestamp('2016-07-30 00:00:00')),
 (118003, 73, Timestamp('2016-06-23 00:00:00')),
 (118003, 165, Timestamp('2017-02-03 00:00:00')),
 (118004, 58, Timestamp('2020-04-03 00:00:00')),
 (118004, 146, Timestamp('2017-03-18 00:00:00')),
 (118005, 314, Timestamp('2017-02-20 00:00:00')),
 (118007, 172, Timestamp('2016-06-06 00:00:00')),
 (118009, 199, Timestamp('2016-05-24 00:00:00')),
 (118009, 466, NaT),
 (118010, 20, Timestamp('2020-07-25 00:00:00')),
 (118010, 183, Timestamp('2016-12-21 00:00:00')),
 (118013, 123, Timestamp('2016-07-31 00:00:00')),
 (118014, 114, Timestamp('2017-04-24 00:00:00')),
 (118014, 198, NaT),
 (118015, 2, Timestamp('2015-01-19 00:00:00')),
 (118015, 4, Timestamp('2014-12-24 00:00:00')),
 (118015, 7, Timestamp('2015-02-02 00:00:00')),
 (118015, 19, Timestamp('2019-12-13 00:00:00')),
 (118015, 22, Timestamp('2016-07-11 00:00:00')),
 (118015, 26, Timestamp('2015-01-14 00:00:00')),
 (118015, 30, Timestamp('2015-04-03 00:00:00')),
 (118015, 31, NaT),
 (118015, 34, Timestamp('2016-05-18 00:00:00')),
 (118015, 40, NaT),
 (118015, 41, Timestamp('2015-11-07 00:00:00')),
 (118015, 46, Timestamp('2016-05-04 00:00:00')),
 (118020, 147, Timestamp('2015-09-17 00:00:00')),
 (118020, 186, Timestamp('2016-03-25 00:00:00')),
 (118020, 199, Timestamp('2015-07-21 00:00:00')),
 (118020, 203, Timestamp('2015-01-17 00:00:00')),
 (118020, 211, Timestamp('2014-03-12 00:00:00')),
 (118020, 216, NaT),
 (118021, 6, Timestamp('2016-04-29 00:00:00')),
 (118021, 31, Timestamp('2016-12-23 00:00:00')),
 (118021, 37, Timestamp('2016-06-02 00:00:00')),
 (118021, 41, Timestamp('2016-05-17 00:00:00'))]

###  replace exitsitedate with new data(date_changes)

In [22]:
for i in range(len(iwes_exitsitedate_dropped)):
    for j in range(len(date_changes)):
        if (int)(iwes_exitsitedate_dropped.iloc[i].FacilityID)==date_changes[j][0] and (int)(iwes_exitsitedate_dropped.iloc[i].StudyID)==date_changes[j][1]:
            iwes_exitsitedate_dropped.iat[i,8]=date_changes[j][2]
            break

In [23]:
new_iwes=iwes_exitsitedate_dropped.sort_values(by="FacilityID")

In [24]:
show_more(new_iwes[["FacilityID","StudyID","exitsitedate"]],len(new_iwes))

     FacilityID  StudyID exitsitedate
3        118000       14   2016-05-19
10       118000       38          NaT
11       118000       42   2017-01-20
0        118000        9   2018-04-04
9        118000       33   2016-11-03
5        118000       26   2016-03-24
2        118000       13   2016-05-27
7        118000       31   2016-05-04
14       118001      291   2016-04-24
13       118001      188   2016-07-30
12       118001      135   2017-01-31
16       118001      355   2016-08-26
21       118003      179   2016-10-26
19       118003       80   2016-11-21
17       118003       73   2016-06-23
32       118004      102   2016-04-07
26       118004       58   2020-04-03
31       118004       84   2016-08-31
22       118004       24   2016-10-25
33       118004      127   2017-05-31
35       118004      136   2017-02-21
24       118004       43   2017-01-11
30       118004       59   2016-09-01
34       118004      129   2017-03-09
25       118004       52   2016-10-13
38       118005      337   2017-05-22
37       118005      139   2016-11-16
36       118005      114   2016-09-15
39       118007      222          NaT
40       118008        4   2017-01-18
50       118009      242   2016-08-29
47       118009      208   2016-07-25
49       118009      232   2016-09-12
53       118009      420   2016-09-19
43       118009      183   2016-09-26
51       118009      300   2016-09-26
56       118009      509   2016-12-19
42       118009       80   2016-10-27
44       118009      185   2017-01-23
54       118009      466          NaT
41       118009       64   2016-07-07
55       118009      476   2016-10-03
45       118009      207   2016-06-01
52       118009      361   2017-01-23
57       118010       20   2020-07-25
65       118010      310   2016-08-04
63       118010      264   2016-11-23
60       118010      183   2016-12-21
61       118010      210   2016-10-05
64       118010      293   2016-12-29
59       118010      136   2016-09-14
58       118010       80          NaT
66       118012       11          NaT
69       118013       78   2016-07-07
67       118013       28   2017-01-12
70       118013       87   2016-11-03
72       118013      107   2017-02-14
71       118013       93   2016-08-18
68       118013       55   2016-11-03
74       118014       41   2017-01-18
82       118014      177   2017-01-25
75       118014       58   2016-07-06
84       118014      179   2016-08-24
76       118014       88          NaT
86       118014      198          NaT
77       118014      114   2017-04-24
81       118014      124   2016-06-15
89       118015       19   2019-12-13
95       118015       57   2016-07-07
92       118015       40          NaT
87       118015        7   2015-02-02
90       118015       31          NaT
94       118015       47   2016-11-18
99       118018       25          NaT
97       118018        1          NaT
100      118018       33   2017-02-08
98       118018       21   2017-02-08
106      118018       44   2017-03-15
107      118018       47   2017-03-15
104      118018       38   2017-03-22
113      118020      216          NaT
111      118020       38   2017-04-12
110      118020       34   2016-12-08
112      118020      211   2014-03-12
119      118021       30   2016-08-23
122      118021       31   2016-12-23
115      118021        6   2016-04-29
128      118021       42   2017-03-21
118      118021       29   2016-08-09
117      118021       17   2017-05-02
125      118021       37   2016-06-02
126      118021       38   2016-06-27
114      118021        5   2017-03-21

In [25]:
new_iwes.dropna(subset=["exitsitedate"],inplace=True)

In [26]:
new_iwes

,InfectionID,FacilityID,StudyID,PatientID,frn,IntervalStartDate,ReferenceDate,EDCLoginDate,exitsitedate,qInfectionLoc,...,qInfectionTherapy,qPDCathRemove,qTempHD,qpri,country,LDOExtract,idd,exitsite,exitsitenumber,exitsitetotal
3,75048,118000,14,12968,1,2016-05-03,2016-09-02,2016-10-31,2016-05-19,1.0,...,2.0,0.0,0.0,1,Thailand,NaN,8000014,Yes,1,2
11,95941,118000,42,19752,3,2017-01-03,2017-05-02,2017-05-25,2017-01-20,1.0,...,1.0,0.0,0.0,1,Thailand,NaN,8000042,Yes,1,1
0,47999,118000,9,12963,0,2016-01-03,2016-05-02,2016-07-03,2018-04-04,1.0,...,1.0,0.0,0.0,0,Thailand,NaN,8000009,Yes,1,1
9,84843,118000,33,12987,2,2016-09-03,2017-01-02,2017-02-07,2016-11-03,1.0,...,2.0,0.0,0.0,2,Thailand,NaN,8000033,Yes,1,1
5,49450,118000,26,12980,0,2016-01-03,2016-05-02,2016-07-23,2016-03-24,1.0,...,2.0,0.0,0.0,0,Thailand,NaN,8000026,Yes,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,83079,118021,29,18723,0,2016-05-25,2016-09-24,2017-01-18,2016-08-09,1.0,...,1.0,0.0,0.0,0,Thailand,NaN,8021029,Yes,1,1
117,103668,118021,17,18709,2,2017-01-25,2017-05-24,2017-06-30,2017-05-02,1.0,...,1.0,0.0,0.0,2,Thailand,NaN,8021017,Yes,1,1
125,95488,118021,37,18736,1,2016-09-25,2017-01-24,2017-05-21,2016-06-02,1.0,...,1.0,0.0,0.0,1,Thailand,NaN,8021037,Yes,1,1
126,79089,118021,38,18737,0,2016-05-25,2016-09-24,2016-12-20,2016-06-27,1.0,...,1.0,0.0,0.0,0,Thailand,NaN,8021038,Yes,1,2
114,96050,118021,5,18541,2,2017-01-25,2017-05-24,2017-06-30,2017-03-21,1.0,...,1.0,0.0,0.0,2,Thailand,NaN,8021005,Yes,1,1

### Create  iwes_feat from intersection of df_feat_sorted and iwes_exitsitedate_idd_sorted

In [27]:
iwes_feat = pd.merge(df_feat, new_iwes["idd"], how="inner", on=["idd"])

In [28]:
iwes_feat_sorted=iwes_feat.sort_values(by="FacilityID")

In [29]:
iwes_feat_sorted.columns.to_list().index("qRecentLabDt01")

231

In [30]:
len(iwes_feat)

81

In [31]:
pd.Timestamp(2020, 10, 13)-pd.Timestamp(2017, 1, 1)

Timedelta('1381 days 00:00:00')

In [32]:
rest_lab={}
for i in range(len(new_iwes)):
    keep_lab=[]
    for index,j in enumerate(iwes_feat.iloc[i,231:231+16]):
        if pd.notna(iwes_feat.iat[i,index+231]) and ((new_iwes.iloc[i].exitsitedate-j).days <=366 and (new_iwes.iloc[i].exitsitedate-j).days >0):
            keep_lab.append(iwes_feat.iat[i,index+231])
           
        elif pd.notna(iwes_feat.iat[i,index+231])  and ((new_iwes.iloc[i].exitsitedate-j).days >366 and (new_iwes.iloc[i].exitsitedate-j).days <=0):
            iwes_feat.iat[i,index+231]=pd.NaT            
            
            
    rest_lab[i]=keep_lab

In [33]:
 show_more(new_iwes[["FacilityID","StudyID","exitsitedate"]],len(new_iwes))

     FacilityID  StudyID exitsitedate
3        118000       14   2016-05-19
11       118000       42   2017-01-20
0        118000        9   2018-04-04
9        118000       33   2016-11-03
5        118000       26   2016-03-24
2        118000       13   2016-05-27
7        118000       31   2016-05-04
14       118001      291   2016-04-24
13       118001      188   2016-07-30
12       118001      135   2017-01-31
16       118001      355   2016-08-26
21       118003      179   2016-10-26
19       118003       80   2016-11-21
17       118003       73   2016-06-23
32       118004      102   2016-04-07
26       118004       58   2020-04-03
31       118004       84   2016-08-31
22       118004       24   2016-10-25
33       118004      127   2017-05-31
35       118004      136   2017-02-21
24       118004       43   2017-01-11
30       118004       59   2016-09-01
34       118004      129   2017-03-09
25       118004       52   2016-10-13
38       118005      337   2017-05-22
37       118005      139   2016-11-16
36       118005      114   2016-09-15
40       118008        4   2017-01-18
50       118009      242   2016-08-29
47       118009      208   2016-07-25
49       118009      232   2016-09-12
53       118009      420   2016-09-19
43       118009      183   2016-09-26
51       118009      300   2016-09-26
56       118009      509   2016-12-19
42       118009       80   2016-10-27
44       118009      185   2017-01-23
41       118009       64   2016-07-07
55       118009      476   2016-10-03
45       118009      207   2016-06-01
52       118009      361   2017-01-23
57       118010       20   2020-07-25
65       118010      310   2016-08-04
63       118010      264   2016-11-23
60       118010      183   2016-12-21
61       118010      210   2016-10-05
64       118010      293   2016-12-29
59       118010      136   2016-09-14
69       118013       78   2016-07-07
67       118013       28   2017-01-12
70       118013       87   2016-11-03
72       118013      107   2017-02-14
71       118013       93   2016-08-18
68       118013       55   2016-11-03
74       118014       41   2017-01-18
82       118014      177   2017-01-25
75       118014       58   2016-07-06
84       118014      179   2016-08-24
77       118014      114   2017-04-24
81       118014      124   2016-06-15
89       118015       19   2019-12-13
95       118015       57   2016-07-07
87       118015        7   2015-02-02
94       118015       47   2016-11-18
100      118018       33   2017-02-08
98       118018       21   2017-02-08
106      118018       44   2017-03-15
107      118018       47   2017-03-15
104      118018       38   2017-03-22
111      118020       38   2017-04-12
110      118020       34   2016-12-08
112      118020      211   2014-03-12
119      118021       30   2016-08-23
122      118021       31   2016-12-23
115      118021        6   2016-04-29
128      118021       42   2017-03-21
118      118021       29   2016-08-09
117      118021       17   2017-05-02
125      118021       37   2016-06-02
126      118021       38   2016-06-27
114      118021        5   2017-03-21

In [75]:
new_iwes = new_iwes.sort_values(by="idd")
index_keep=[]
for index,i in enumerate(new_iwes.exitsitedate):
    if pd.isna(i):
        index_keep.append(index)

In [77]:
print(len(iwes_feat),len(new_iwes))

81 81

In [79]:
index_keep=[]
for index,i in enumerate(new_iwes):
    if iwes_feat.iloc[index,231:231+16].isnull().sum()==16:
        index_keep.append(index)

In [80]:
index_keep

[]

# Recheck iwp

###  check data type

In [35]:
for i in df_iwp_upd.peritonitisdate.to_list():
    print(type(i))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.nattype.NaTType'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

###  sort value by peritonitisdate

In [36]:
iwp_date=df_iwp_upd.sort_values(by="peritonitisdate")

### clean data by idd if data duplicates

In [37]:
iwp_peritonitisdate_dropped=iwp_date.drop_duplicates(subset=['idd'], keep='first')

In [38]:
len(iwp_peritonitisdate_dropped)

147

In [39]:
iwp_peritonitisdate_dropped.sort_values(by="FacilityID").StudyID

1       34
0       22
17     502
12     291
15     355
      ...
222     17
229     41
221      6
228     38
223     31
Name: StudyID, Length: 147, dtype: int64

###  find index of peritonitisdate and qFirstCultureDt

In [40]:
iwp_peritonitisdate_dropped.columns.to_list().index("peritonitisdate")

8

In [41]:
iwp_peritonitisdate_dropped.columns.to_list().index("qFirstCultureDt")

14

###  Clean "peritonitisdate" and "qFirstCultureDt" if either of them is NaN set their value as same as another if the others have value

In [42]:
for i in range(len(iwp_peritonitisdate_dropped)):
    if pd.isna(iwp_peritonitisdate_dropped.iloc[i].peritonitisdate) and pd.isna(iwp_peritonitisdate_dropped.iloc[i].qFirstCultureDt):
        pass
    
    elif pd.isna(iwp_peritonitisdate_dropped.iloc[i].peritonitisdate) or pd.isna(iwp_peritonitisdate_dropped.iloc[i].qFirstCultureDt):
                    
            if pd.isna(iwp_peritonitisdate_dropped.iloc[i].peritonitisdate) and pd.notna(iwp_peritonitisdate_dropped.iloc[i].qFirstCultureDt):
                    iwp_peritonitisdate_dropped.iat[i,8]=iwp_peritonitisdate_dropped.iloc[i].qFirstCultureDt
                    
            elif pd.isna(iwp_peritonitisdate_dropped.iloc[i].qFirstCultureDt) and pd.notna(iwp_peritonitisdate_dropped.iloc[i].peritonitisdate):
                    iwp_peritonitisdate_dropped.iat[i,14]=iwp_peritonitisdate_dropped.iloc[i].peritonitisdate

In [43]:
show_more(iwp_peritonitisdate_dropped[["peritonitisdate","qFirstCultureDt"]],len(iwp_peritonitisdate_dropped))

    peritonitisdate qFirstCultureDt
213      2014-03-12      2014-03-24
136      2014-12-24      2014-12-24
140      2015-01-14      2015-01-14
211      2015-01-17      2015-01-17
133      2015-01-19      2015-01-19
138      2015-02-02      2015-02-02
141      2015-04-03      2015-04-03
209      2015-07-21      2015-07-21
205      2015-09-17      2015-09-18
144      2015-11-07      2015-11-07
20       2016-03-18      2016-03-18
207      2016-03-25      2016-03-25
6        2016-03-30      2016-03-30
15       2016-04-06      2016-04-06
31       2016-04-14      2016-04-14
221      2016-05-03      2016-05-03
147      2016-05-04      2016-05-04
229      2016-05-17      2016-05-17
1        2016-05-17      2016-05-17
142      2016-05-18      2016-05-18
223      2016-05-21      2016-05-21
96       2016-05-24      2016-05-24
39       2016-06-01      2016-06-01
227      2016-06-02      2016-06-02
89       2016-06-06      2016-06-06
54       2016-06-11      2016-06-11
29       2016-06-14      2016-06-14
129      2016-06-14      2016-06-14
90       2016-06-16      2016-06-16
116      2016-06-17      2016-06-17
37       2016-06-18      2016-06-18
95       2016-06-20      2016-06-20
26       2016-06-23      2016-06-23
228      2016-06-24      2016-06-24
139      2016-07-11      2016-07-11
99       2016-07-14      2016-07-14
98       2016-07-15      2016-07-15
175      2016-07-19      2016-07-20
33       2016-07-20      2016-07-20
118      2016-07-21      2016-07-21
10       2016-07-30      2016-07-30
106      2016-07-31      2016-07-31
124      2016-07-31      2016-07-31
35       2016-08-01      2016-08-01
46       2016-08-01      2016-08-01
18       2016-08-07      2016-08-07
24       2016-08-07      2016-08-07
222      2016-08-08      2016-08-08
168      2016-08-15      2016-08-15
97       2016-09-01      2016-09-01
47       2016-09-02      2016-09-02
30       2016-09-05      2016-09-05
82       2016-09-13      2016-09-13
119      2016-09-15      2016-09-15
3        2016-09-21      2016-09-21
179      2016-09-22      2016-09-22
75       2016-09-23      2016-09-23
157      2016-09-27      2016-09-27
0        2016-10-06      2016-10-06
127      2016-10-09      2016-10-09
7        2016-10-10      2016-10-10
166      2016-10-13      2016-12-13
53       2016-10-21      2016-10-21
100      2016-10-23      2016-10-03
204      2016-10-27      2016-10-27
187      2016-10-28      2016-10-28
148      2016-11-01      2016-11-07
78       2016-11-02      2016-11-02
191      2016-11-04      2016-11-05
85       2016-11-08      2016-11-08
57       2016-11-13      2016-11-13
162      2016-11-19      2016-11-19
65       2016-11-21      2016-11-28
17       2016-11-23      2016-11-23
61       2016-11-30      2016-12-01
132      2016-12-07      2016-12-07
114      2016-12-08      2016-12-09
8        2016-12-11      2016-12-13
51       2016-12-12      2016-12-14
93       2016-12-13      2016-12-13
153      2016-12-15      2016-12-15
43       2016-12-21      2016-12-21
66       2016-12-21      2016-12-21
68       2016-12-29      2016-12-29
49       2017-01-03      2017-01-03
60       2017-01-03      2017-01-04
44       2017-01-04      2017-01-04
181      2017-01-04      2017-01-04
88       2017-01-07      2017-01-07
104      2017-01-09      2017-01-09
13       2017-01-10      2017-01-10
117      2017-01-12      2017-01-12
16       2017-01-17      2017-01-17
178      2017-01-18      2017-01-18
195      2017-01-30      2017-01-30
173      2017-01-31      2017-01-31
163      2017-01-31      2017-01-03
59       2017-02-01      2017-02-01
77       2017-02-02      2017-02-02
40       2017-02-03      2017-02-03
123      2017-02-06      2017-02-06
150      2017-02-09      2017-02-09
62       2017-02-09      2017-02-09
92       2017-02-10      2017-02-10
12       2017-02-10      2017-02-10
174      2017-02-12      2017-02-12
27       2017-02-16      2017-02-16
71       2017-02-20      2017-02-27
70       2017-02-28      2017-02-28
164      2017-03-06      2017-03-06
5        2017-03-11      2017-03-11
28       2017-03-17      2017-03-17
63       2017-03-18      2017-03-18
128      2017-03-22      2017-03-22
45       2017-03-22      2017-03-22
143      2017-03-25      2017-03-25
109      2017-04-04      2017-04-04
171      2017-04-10      2017-04-10
81       2017-04-17      2017-04-17
11       2017-04-18      2017-04-19
113      2017-04-20      2017-04-20
126      2017-04-24      2017-04-24
152      2017-04-24      2017-04-24
74       2017-05-01      2017-05-01
220      2017-05-07      2017-05-07
38       2017-05-08      2017-05-08
64       2017-05-10      2017-05-10
87       2017-05-15      2017-05-15
73       2017-05-26      2017-05-26
72       2017-05-29      2017-05-29
218      2017-06-01      2017-06-01
84       2017-06-05      2017-06-05
110      2017-06-07      2017-06-07
103      2017-06-17      2017-06-17
217      2017-06-25      2017-06-26
170      2017-07-07      2017-07-07
219      2017-07-24      2017-07-24
91              NaT             NaT
94              NaT             NaT
101             NaT             NaT
102             NaT             NaT
111             NaT             NaT
112             NaT             NaT
125             NaT             NaT
151             NaT             NaT
182             NaT             NaT
183             NaT             NaT

In [44]:
date_changes = []
for i in range(len(new_date.iloc[7:])):
    if type(new_date.iloc[i+7,4]) == type(new_date.iloc[7,4]):
        date_changes.append((new_date.iloc[i+7,0],new_date.iloc[i+7,1],pd.Timestamp(new_date.iloc[i+7,4])))
        
    else:
        date_changes.append((new_date.iloc[i+7,0],new_date.iloc[i+7,1],pd.to_datetime(pd.Timestamp(pd.NaT))))
        
for i in range(len(new_date.iloc[1:4])):
    if type(new_date.iloc[i+1,4]) == type(new_date.iloc[7,4]):
        date_changes.append((new_date.iloc[i+1,0],new_date.iloc[i+1,1],pd.Timestamp(new_date.iloc[i+1,4])))
        
    else:
        date_changes.append((new_date.iloc[i+1,0],new_date.iloc[i+1,1],pd.to_datetime(pd.Timestamp(pd.NaT))))

In [45]:
for i in range(len(iwp_peritonitisdate_dropped)):
    for j in range(len(date_changes)):
        if (int)(iwp_peritonitisdate_dropped.iloc[i].FacilityID)==date_changes[j][0] and (int)(iwp_peritonitisdate_dropped.iloc[i].StudyID)==date_changes[j][1]:
            iwp_peritonitisdate_dropped.iat[i,8]=date_changes[j][2]
            break

In [46]:
new_iwp=iwp_peritonitisdate_dropped.sort_values(by="idd")

###  Create  iwp_feat from intersection of df_feat_sorted and iwp_peritonitisdate_idd_sorted

In [47]:
iwp_feat = pd.merge(df_feat, new_iwp["idd"], how="inner", on=["idd"])

In [48]:
len(iwp_feat)

143

In [49]:
new_iwp.iat[146,28]=8015034

In [50]:
iwp_feat_sorted=iwp_feat.sort_values(by="idd")

In [51]:

check=[]
for index,i in enumerate(new_iwp.idd.to_list()):
    if i not in iwp_feat_sorted.idd.to_list() and pd.notna(i):
        check.append(index)
    elif i not in iwp_feat_sorted.idd.to_list() and pd.isna(i):
        check.append(index)

In [52]:
new_iwp2 = new_iwp.drop([new_iwp.index[137],new_iwp.index[138],new_iwp.index[139]])

In [53]:
new_iwp2=new_iwp2.sort_values(by="peritonitisdate")

In [54]:
new_iwp2=new_iwp2.drop_duplicates(subset=["idd"],keep="first")

In [55]:
rest_lab2={}
for i in range(len(new_iwp2)):
    keep_lab=[]
    for index,j in enumerate(iwp_feat_sorted.iloc[i,231:231+16]):
        
        
        if pd.notna(iwp_feat_sorted.iloc[i,index+231]) and ((new_iwp2.iloc[i,8]-j).days <=366 and (new_iwp2.iloc[i,8]-j).days >0):
            keep_lab.append(iwp_feat_sorted.iloc[i,index+231])
        elif pd.notna(iwp_feat_sorted.iloc[i,index+231])  and ((new_iwp2.iloc[i,8]-j).days >366 and (new_iwp2.iloc[i,8]-j).days <=0):
            iwp_feat_sorted.iat[i,index+231]=pd.NaT            
            
            
    rest_lab2[i]=keep_lab

In [58]:
new_iwp2 = new_iwp2.sort_values(by="idd")
index_keep=[]
for index,i in enumerate(new_iwp2.peritonitisdate):
    if pd.isna(i):
        index_keep.append(index)

In [59]:
new_iwp2.dropna(subset=["peritonitisdate"],inplace=True)

In [60]:
iwp_feat_sorted = iwp_feat_sorted.sort_values(by="idd")

In [65]:
index_keep
iwp_feat_sorted = iwp_feat_sorted.drop([iwp_feat_sorted.index[64],iwp_feat_sorted.index[67],iwp_feat_sorted.index[74],iwp_feat_sorted.index[81],iwp_feat_sorted.index[82],iwp_feat_sorted.index[91],iwp_feat_sorted.index[108],iwp_feat_sorted.index[125],iwp_feat_sorted.index[126]])

In [72]:
index_keep=[]
for index,i in enumerate(new_iwp2):
    if iwp_feat_sorted.iloc[index,231:231+16].isnull().sum()==16:
        index_keep.append(index)

In [73]:
index_keep

[]

In [74]:
new_iwp2.to_csv("C:\\Users\\505DY\\Desktop\\Programming\\Machine Learning\\Udemy\\self-trying\\Peritoneal Dialysis\\date and CSV\\cleaned data\\iwp_raw_idd_cleaned.csv")